* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body {
  background-color: #007335;
  color: #ffffff;
  text-align: center;
}

.header {
  width: 100vw;
  min-height: 50vh;
  margin-bottom: 40px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.header > h2 {
  font-size: 3vw;
}

a {
  color: #3c3c3b;
  font-weight: bold;
}

.intro {
  font-size: 5vw;
}

.syllabus {
  font-size: 3em;
  margin: 20px auto;
}

li {
  list-style-type: none;
}

.materials {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
}

.weekly {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: space-evenly;
  -moz-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;

  font-size: 1.25vw;
}

.dailyCard {
  margin: 20px 0;
  min-width: 100px;
  max-width: 300px;
  align-items: center;
}

.dayDate {
  font-size: 1vw;
}

.dayTitle {
  margin-bottom: 10px;
  font-weight: bold;
}

.dayLink {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1vw;
  font-weight: bold;
  padding: 13px 26px;
  text-decoration: none;
  width: 70%;
  margin: 0 auto;
}
.dayLink:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
.dayLink:active {
  position: relative;
  top: 1px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait) {
  body {
    font-size: 8px;
  }

  .intro {
    font-size: 6vw;
  }

  .materials {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    font-size: 5vw;
  }

  .dailyCard {
    width: 80%;
  }

  .dayDate {
    font-size: 3.5vw;
  }

  .dayLink {
    font-size: 5vw;
  }

  .dayTitle {
    font-size: 4vw;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
  body {
    font-size: 8px;
  }

  .intro {
    font-size: 6vw;
  }

  .dailyCard {
    min-width: 80%;
  }

  .dayDate {
    font-size: 3.5vw;
  }

  .dayLink {
    font-size: 5vw;
  }

  .dayTitle {
    font-size: 4vw;
  }
}